<div class="one-recipe">
      <section class="border1">
        <div class="header">
          <div>
            <h4>
              <a href="/oneRecipe/{{this._id}}">{{this.name}}</a>
              
               (<small>{{this.difficulty}}</small>)</h4>
            <p>Rated xx</p>
          </div>
          <img class="recipe-image" src="{{this.image}}">
        </div>
        <div class="details">
          <div>
            <span>Preparation time : {{this.prep}} min</span> <br>
            <span>Cooking time : {{this.cook}} min </span>
          </div>
          <h5>Nutricious Value</h5>
          <table>
            <tr class="table-row">
              <th class="table-head">Kcal</th>
              <th class="table-head">carbs</th>
              <th class="table-head">fiber</th>
              <th class="table-head">protein</th>
              <th class="table-head">sugars</th>
              <th class="table-head">salts</th>
            </tr>
            <tr>
              <td>{{this.nutrition.kcal}}kcal</td>
              <td>{{this.nutrition.carbs}}g</td>
              <td>{{this.nutrition.fiber}}g</td>
              <td>{{this.nutrition.protein}}g</td>
              <td>{{this.nutrition.sugars}}g</td>
              <td>{{this.nutrition.salts}}g</td>
            </tr>
          </table>
        </div>
      </section>
    </div>